
* {
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

.container-deploy-form {

    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;

    transition: all .5s ease-out;

    &.open {
        z-index: 1;
        opacity: 1;
        pointer-events: all;

        &.transparency {
            background: rgba(0, 0, 0, 0.7);
        }
    }
    
}

#slideBar {
    position:fixed;
    width:200px;
    height: 100%;
    background:#151719;
    transition: all 200ms ease-out;
    z-index: 1;
}

#slideBar .btn-menu {
    position: absolute;
    cursor: pointer;
    top: 3%;
    right: -25%;
}

#slideBar ul li {
    color:rgba(230,230,230,1);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}


#slideBar ul li:hover {
    color: rgb(150,150,150);
    cursor: pointer;
    background:#8171
}





.logoT  {
    width: 50px;
    height: 50px;
    display: block;
    margin: 5% auto 5% auto;
}

.slideImg  {
    width: 20%;
    height: 5%;
    position: absolute;
    display: center;
    margin-left: 2%;
    margin-top: 2%;
}

.icon {
    width: 30px;
    height: 30px;
    margin-left: 2%;
}

a {  
    text-decoration: inherit;
    color: inherit;
    text-align: center;
}